In [1]:
%load_ext nb_black

In [2]:
import pandas as pd

In [3]:
first = pd.read_csv('./news_250.zip')
second = pd.read_csv('./news_255-400_2021-01-23_1915H -0800.zip')
comb = pd.read_csv('./Combined_News_DJIA.csv')

In [4]:
print(first.info(), second.info(), comb.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14982 entries, 0 to 14981
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   headline  14982 non-null  object
 1   date      14982 non-null  object
dtypes: object(2)
memory usage: 234.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7716 entries, 0 to 7715
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   headline  7716 non-null   object
 1   date      7716 non-null   object
dtypes: object(2)
memory usage: 120.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1986 non-null   object
 1   Label   1986 non-null   int64
 2   Top1    1986 non-null   object
 3   Top2    1986 non-null   object
 4   Top3    1986 non-null   object
 5   Top4    1986 non-null   object
 6   Top5    1986 non-null   object
 7   Top6    1986 non-null   object
 8   Top7    1986 non-null   object
 9   Top8    1986 non-null   object
 10  Top9    1986 non-null   object
 11  Top10   1986 non-null   object
 12  Top11   1986 non-null   object
 13  Top12   1986 non-null   object
 14  Top13   1986 non-null   object
 15  Top14   1986 non-null   object
 16  Top15   1986 non-null   object
 17  Top16   1986 non-null   object
 18  Top17   1986 non-null   object
 19  Top18   1986 non-null   object
 20  Top19   1986 non-null   object
 21  Top20   1986 non-null   object
 22  Top21   1986 non-null   object
 23  Top22   1986 non-null   object
 24  Top23   1986 non-null   object
 25  Top24   1986 non-null   object
 26  Top25   1986 non-null   object
dtypes: int64(1), object(26)
memory usage: 419.0+ KB
None None None

In [5]:
comb = comb.rename(columns={'Date' : 'date'})
comb.drop(columns=['Label'], inplace=True)

In [6]:
print(first.info(), second.info(), comb.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14982 entries, 0 to 14981
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   headline  14982 non-null  object
 1   date      14982 non-null  object
dtypes: object(2)
memory usage: 234.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7716 entries, 0 to 7715
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   headline  7716 non-null   object
 1   date      7716 non-null   object
dtypes: object(2)
memory usage: 120.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1986 non-null   object
 1   Top1    1986 non-null   object
 2   Top2    1986 non-null   object
 3   Top3    1986 non-null   object
 4   Top4    1986 non-null   object
 5   Top5    1986 non-null   object
 6   Top6    1986 non-null   object
 7   Top7    1986 non-null   object
 8   Top8    1986 non-null   object
 9   Top9    1986 non-null   object
 10  Top10   1986 non-null   object
 11  Top11   1986 non-null   object
 12  Top12   1986 non-null   object
 13  Top13   1986 non-null   object
 14  Top14   1986 non-null   object
 15  Top15   1986 non-null   object
 16  Top16   1986 non-null   object
 17  Top17   1986 non-null   object
 18  Top18   1986 non-null   object
 19  Top19   1986 non-null   object
 20  Top20   1986 non-null   object
 21  Top21   1986 non-null   object
 22  Top22   1986 non-null   object
 23  Top23   1986 non-null   object
 24  Top24   1986 non-null   object
 25  Top25   1986 non-null   object
dtypes: object(26)
memory usage: 403.5+ KB
None None None

In [7]:
for col in list(comb.columns[1:26]):
    t1 = comb[col].str.replace('b"', "")
    t2 = t1.str.replace("b'", "")
    comb[col] = t2

In [8]:
comb['headline'] = ''
comb_headline_cols = list(comb.iloc[:, 1:26].columns)

In [9]:
for col in comb_headline_cols:
    comb['headline'] = comb['headline'] + ' ' + comb[col]

In [10]:
comb.head()

,date,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,...,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25,headline
0,2008-08-08,Georgia 'downs two Russian warplanes' as count...,BREAKING: Musharraf to be impeached.',Russia Today: Columns of troops roll into Sout...,Russian tanks are moving towards the capital o...,"Afghan children raped with 'impunity,' U.N. of...",150 Russian tanks have entered South Ossetia w...,"Breaking: Georgia invades South Ossetia, Russi...",The 'enemy combatent' trials are nothing but a...,Georgian troops retreat from S. Osettain capit...,...,Al-Qaeda Faces Islamist Backlash',"Condoleezza Rice: ""The US would not act to pre...",This is a busy day: The European Union has ap...,"Georgia will withdraw 1,000 soldiers from Iraq...",Why the Pentagon Thinks Attacking Iran is a Ba...,Caucasus in crisis: Georgia invades South Osse...,Indian shoe manufactory - And again in a seri...,Visitors Suffering from Mental Illnesses Banne...,"No Help for Mexico's Kidnapping Surge""",Georgia 'downs two Russian warplanes' as coun...
1,2008-08-11,Why wont America and Nato help us? If they won...,Bush puts foot down on Georgian conflict',Jewish Georgian minister: Thanks to Israeli tr...,Georgian army flees in disarray as Russians ad...,"Olympic opening ceremony fireworks 'faked'""",What were the Mossad with fraudulent New Zeala...,Russia angered by Israeli military sale to Geo...,An American citizen living in S.Ossetia blames...,Welcome To World War IV! Now In High Definition!',...,"""Do not believe TV, neither Russian nor Georgi...",Riots are still going on in Montreal (Canada) ...,China to overtake US as largest manufacturer',War in South Ossetia [PICS]',Israeli Physicians Group Condemns State Torture',Russia has just beaten the United States over...,Perhaps *the* question about the Georgia - Rus...,Russia is so much better at war',So this is what it's come to: trading sex for ...,Why wont America and Nato help us? If they wo...
2,2008-08-12,Remember that adorable 9-year-old who sang at ...,"Russia 'ends Georgia operation'""","""If we had no sexual harassment we would have ...",Al-Qa'eda is losing support in Iraq because of...,Ceasefire in Georgia: Putin Outmaneuvers the W...,Why Microsoft and Intel tried to kill the XO $...,Stratfor: The Russo-Georgian War and the Balan...,I'm Trying to Get a Sense of This Whole Georgi...,The US military was surprised by the timing an...,...,Why Russias response to Georgia was right',"Gorbachev accuses U.S. of making a ""serious bl...","Russia, Georgia, and NATO: Cold War Two'",Remember that adorable 62-year-old who led you...,War in Georgia: The Israeli connection',All signs point to the US encouraging Georgia ...,Christopher King argues that the US and NATO a...,America: The New Mexico?',BBC NEWS | Asia-Pacific | Extinction 'by man n...,Remember that adorable 9-year-old who sang at...
3,2008-08-13,U.S. refuses Israel weapons to attack Iran: r...,When the president ordered to attack Tskhinval...,Israel clears troops who killed Reuters camer...,"Britain\'s policy of being tough on drugs is ""...",Body of 14 year old found in trunk; Latest (ra...,China has moved 10 *million* quake survivors i...,Bush announces Operation Get All Up In Russia'...,Russian forces sink Georgian ships ',The commander of a Navy air reconnaissance squ...,...,US humanitarian missions soon in Georgia - if ...,"Georgia's DDOS came from US sources""","Russian convoy heads into Georgia, violating t...",Israeli defence minister: US against strike on...,Gorbachev: We Had No Choice',Witness: Russian forces head towards Tbilisi i...,Quarter of Russians blame U.S. for conflict: ...,Georgian president says US military will take...,2006: Nobel laureate Aleksander Solzhenitsyn a...,U.S. refuses Israel weapons to attack Iran: ...
4,2008-08-14,All the experts admit that we should legalise ...,War in South Osetia - 89 pictures made by a Ru...,Swedish wrestler Ara Abrahamian throws away me...,Russia exaggerated the death toll in South Oss...,Missile That Killed 9 Inside Pakistan May Have...,Rushdie Condemns Random House's Refusal to Pub...,Poland and US agree to missle defense deal. In...,"Will the Russians conquer Tblisi? Bet on it, n...","Russia exaggerating South Ossetian death toll,...",...,Georgia confict could set back Russia's US rel...,War in the Caucasus is as much the product of ...,"""Non-media"" photos of South Ossetia/Georgia co...",Georgian TV reporter shot by Russian sniper du...,Saudi Arabia: Mother moves to block child marr...,Taliban wages war on humanitarian aid workers',"Russia: World ""can forget about"" Georgia\'s t...",Darfur rebels accuse Sudan of mounting major a...,Philippines : Peace Advocate say Muslims need ...,All the experts admit that we should legalise...

In [11]:
comb_ = comb[['date', 'headline']]

In [12]:
# converting all date to datetime then using groupby for scraped news headlines by date only
first['date'] = pd.to_datetime(first['date'])
second['date'] = pd.to_datetime(second['date'])
comb_['date'] = pd.to_datetime(comb_['date'])

first['date'] = first.date.dt.date
second['date'] = second.date.dt.date
comb_['date'] = comb_.date.dt.date

first_ = first.groupby(by='date').agg({'headline' : 'sum'}).reset_index()
second_ = second.groupby(by='date').agg({'headline' : 'sum'}).reset_index()

In [13]:
print(first_.shape, second_.shape)

(1384, 2) (1194, 2)

Now that all of them have been considerably shortened, we can now move onto concatenating them all.

In [14]:
news = pd.concat([first_, second_, comb_], ignore_index=True)
news.head()

         date                                           headline
0  2016-09-02  Cramer Remix: How to know when the market's mo...
1  2016-09-06  Cramer Remix: Time to stash an elevated amount...
2  2016-09-07  Cramer: Too much headline risk for me to like ...
3  2016-09-08  Cramer Remix: The black hole that investors ar...
4  2016-09-09  Cramer: A stock with $1 downside and a $3 upsi...

In [15]:
news_ = news.groupby(by='date').agg({'headline' : 'sum'}).reset_index()
news_['date'] = pd.to_datetime(news_['date'])

In [16]:
news_.to_csv('./news_complete.zip', index=False, compression='zip')

In [17]:
spx = pd.read_csv('./gspc_max.zip')
spx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23376 entries, 0 to 23375
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       23376 non-null  object
 1   Open       23376 non-null  float64
 2   High       23376 non-null  float64
 3   Low        23376 non-null  float64
 4   Close      23376 non-null  float64
 5   Adj Close  23376 non-null  float64
 6   Volume     23376 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.2+ MB

We need to convert date to datetime dtype after renaming it for uniformity.

In [18]:
spx = spx.rename(columns={'Date' : 'date'})

In [19]:
spx['Diff'] = spx['Adj Close'] - spx['Open']
spx.tail()

,date,Open,High,Low,Close,Adj Close,Volume,Diff
23371,2021-01-15,3788.729980,3788.729980,3749.620117,3768.250000,3768.250000,5353060000,-20.479980
23372,2021-01-19,3781.879883,3804.530029,3780.370117,3798.909912,3798.909912,4982940000,17.030029
23373,2021-01-20,3816.219971,3859.750000,3816.219971,3851.850098,3851.850098,4551790000,35.630127
23374,2021-01-21,3857.459961,3861.449951,3845.050049,3853.070068,3853.070068,4484460000,-4.389893
23375,2021-01-22,3844.239990,3852.310059,3830.409912,3841.469971,3841.469971,5080430000,-2.770020

In [20]:
spx['date'] = pd.to_datetime(spx['date'])

In [21]:
spx.to_csv('./SPX_processed.csv', index=False)

In [22]:
spx_n = spx[['date', 'Diff']]

## Merging News and Stock Data by Date

In [23]:
merged_df = pd.merge(news_, spx, how='outer', on='date')

In [24]:
merged_df.isna().mean()*100

date          0.000000
headline     85.317895
Open          1.574737
High          1.574737
Low           1.574737
Close         1.574737
Adj Close     1.574737
Volume        1.574737
Diff          1.574737
dtype: float64

The missingness in headlines can be explained by the coverage of the news data collected. Earliest date is set at 2008-08-08 and latest at 2021-01-14.

In [25]:
merged_df.head()

,date,headline,Open,High,Low,Close,Adj Close,Volume,Diff
0,2008-08-08,Georgia 'downs two Russian warplanes' as coun...,1266.290039,1297.849976,1262.109985,1296.319946,1296.319946,4.966810e+09,30.029907
1,2008-08-11,Why wont America and Nato help us? If they wo...,1294.420044,1313.150024,1291.410034,1305.319946,1305.319946,5.067310e+09,10.899902
2,2008-08-12,Remember that adorable 9-year-old who sang at...,1304.790039,1304.790039,1285.640015,1289.589966,1289.589966,4.711290e+09,-15.200073
3,2008-08-13,U.S. refuses Israel weapons to attack Iran: ...,1288.640015,1294.030029,1274.859985,1285.829956,1285.829956,4.787600e+09,-2.810059
4,2008-08-14,All the experts admit that we should legalise...,1282.109985,1300.109985,1276.839966,1292.930054,1292.930054,4.064000e+09,10.820068

In [26]:
merged_df.tail(10)

,date,headline,Open,High,Low,Close,Adj Close,Volume,Diff
23740,2018-05-25,NaN,2723.600098,2727.360107,2714.989990,2721.330078,2721.330078,2.995260e+09,-2.270020
23741,2018-06-29,NaN,2727.129883,2743.260010,2718.030029,2718.370117,2718.370117,3.565620e+09,-8.759766
23742,2018-07-20,NaN,2804.550049,2809.699951,2800.010010,2801.830078,2801.830078,3.230210e+09,-2.719971
23743,2018-11-23,NaN,2633.360107,2647.550049,2631.090088,2632.560059,2632.560059,1.651650e+09,-0.800049
23744,2019-04-02,NaN,2868.239990,2872.899902,2858.750000,2867.239990,2867.239990,3.246900e+09,-1.000000
23745,2021-01-15,NaN,3788.729980,3788.729980,3749.620117,3768.250000,3768.250000,5.353060e+09,-20.479980
23746,2021-01-19,NaN,3781.879883,3804.530029,3780.370117,3798.909912,3798.909912,4.982940e+09,17.030029
23747,2021-01-20,NaN,3816.219971,3859.750000,3816.219971,3851.850098,3851.850098,4.551790e+09,35.630127
23748,2021-01-21,NaN,3857.459961,3861.449951,3845.050049,3853.070068,3853.070068,4.484460e+09,-4.389893
23749,2021-01-22,NaN,3844.239990,3852.310059,3830.409912,3841.469971,3841.469971,5.080430e+09,-2.770020

Since we don't have news data pre-2008-08-08, I will dropping all the rows with no headline data to preserve the possible correlation.

In [27]:
merged_df.dropna(inplace=True)

In [28]:
merged_df.sort_values(by='date', inplace=True)

In [29]:
def label_trend(row):
    if row['Diff'] < 0.0:
        return 0
    elif row['Diff'] > 0.0:
        return 2
    else:
        return 1 # if Diff is 0

merged_df['Label'] = merged_df.apply(lambda row: label_trend(row), axis=1)

In [30]:
merged_df.head()

,date,headline,Open,High,Low,Close,Adj Close,Volume,Diff,Label
0,2008-08-08,Georgia 'downs two Russian warplanes' as coun...,1266.290039,1297.849976,1262.109985,1296.319946,1296.319946,4.966810e+09,30.029907,2
1,2008-08-11,Why wont America and Nato help us? If they wo...,1294.420044,1313.150024,1291.410034,1305.319946,1305.319946,5.067310e+09,10.899902,2
2,2008-08-12,Remember that adorable 9-year-old who sang at...,1304.790039,1304.790039,1285.640015,1289.589966,1289.589966,4.711290e+09,-15.200073,0
3,2008-08-13,U.S. refuses Israel weapons to attack Iran: ...,1288.640015,1294.030029,1274.859985,1285.829956,1285.829956,4.787600e+09,-2.810059,0
4,2008-08-14,All the experts admit that we should legalise...,1282.109985,1300.109985,1276.839966,1292.930054,1292.930054,4.064000e+09,10.820068,2

In [31]:
merged_df.to_csv('./news_stock.csv', index=False)