In [1]:
import yfinance as yf
import datetime

In [30]:
spx = yf.download("^GSPC", start="2020-12-01", end="2021-01-01")
spx

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-01,3645.870117,3678.449951,3645.870117,3662.449951,3662.449951,5403660000
2020-12-02,3653.780029,3670.959961,3644.840088,3669.010010,3669.010010,5029620000
2020-12-03,3668.280029,3682.729980,3657.169922,3666.719971,3666.719971,5091760000
2020-12-04,3670.939941,3699.199951,3670.939941,3699.120117,3699.120117,5086370000
2020-12-07,3694.729980,3697.409912,3678.879883,3691.959961,3691.959961,4788560000
2020-12-08,3683.050049,3708.449951,3678.830078,3702.250000,3702.250000,4549670000
2020-12-09,3705.979980,3712.389893,3660.540039,3672.820068,3672.820068,5209940000
2020-12-10,3659.129883,3678.489990,3645.179932,3668.100098,3668.100098,4618240000
2020-12-11,3656.080078,3665.909912,3633.399902,3663.459961,3663.459961,4367150000
2020-12-14,3675.270020,3697.610107,3645.840088,3647.489990,3647.489990,4594920000
2020-12-15,3666.409912,3695.290039,3659.620117,3694.620117,3694.620117,4360280000
2020-12-16,3696.250000,3711.270020,3688.570068,3701.169922,3701.169922,4056950000
2020-12-17,3713.649902,3725.120117,3710.870117,3722.479980,3722.479980,4184930000
2020-12-18,3722.389893,3726.699951,3685.840088,3709.409912,3709.409912,7068340000
2020-12-21,3684.280029,3702.899902,3636.479980,3694.919922,3694.919922,4732160000
2020-12-22,3698.080078,3698.260010,3676.159912,3687.260010,3687.260010,4023940000
2020-12-23,3693.419922,3711.239990,3689.280029,3690.010010,3690.010010,3772630000
2020-12-24,3694.030029,3703.820068,3689.320068,3703.060059,3703.060059,1885090000
2020-12-28,3723.030029,3740.510010,3723.030029,3735.360107,3735.360107,3527460000
2020-12-29,3750.010010,3756.120117,3723.310059,3727.040039,3727.040039,3387030000
2020-12-30,3736.189941,3744.629883,3730.209961,3732.040039,3732.040039,3145200000
2020-12-31,3733.270020,3760.199951,3726.879883,3756.070068,3756.070068,3172510000

In [2]:
spx_t = yf.Ticker("^GSPC")
spx_t.history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30,17.660000,17.660000,17.660000,17.660000,0,0,0
1928-01-03,17.760000,17.760000,17.760000,17.760000,0,0,0
1928-01-04,17.719999,17.719999,17.719999,17.719999,0,0,0
1928-01-05,17.549999,17.549999,17.549999,17.549999,0,0,0
1928-01-06,17.660000,17.660000,17.660000,17.660000,0,0,0
...,...,...,...,...,...,...,...
2021-01-15,3788.729980,3788.729980,3749.620117,3768.250000,5353060000,0,0
2021-01-19,3781.879883,3804.530029,3780.370117,3798.909912,4982940000,0,0
2021-01-20,3816.219971,3859.750000,3816.219971,3851.850098,4551790000,0,0
2021-01-21,3857.459961,3861.449951,3845.050049,3853.070068,4484460000,0,0
2021-01-22,3844.239990,3852.310059,3830.409912,3841.469971,5080430000,0,0

In [28]:
from pandas_datareader import data as pdr

yf.pdr_override()
ndata = pdr.get_data_yahoo("^GSPC", start="2017-01-01", end="2021-01-13")

[*********************100%***********************]  1 of 1 completed

In [29]:
ndata

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,2251.570068,2263.879883,2245.129883,2257.830078,2257.830078,3770530000
2017-01-04,2261.600098,2272.820068,2261.600098,2270.750000,2270.750000,3764890000
2017-01-05,2268.179932,2271.500000,2260.449951,2269.000000,2269.000000,3761820000
2017-01-06,2271.139893,2282.100098,2264.060059,2276.979980,2276.979980,3339890000
2017-01-09,2273.590088,2275.489990,2268.899902,2268.899902,2268.899902,3217610000
...,...,...,...,...,...,...
2021-01-06,3712.199951,3783.040039,3705.340088,3748.139893,3748.139893,6049970000
2021-01-07,3764.709961,3811.550049,3764.709961,3803.790039,3803.790039,5080870000
2021-01-08,3815.050049,3826.689941,3783.600098,3824.679932,3824.679932,4764180000
2021-01-11,3803.139893,3817.860107,3789.020020,3799.610107,3799.610107,4450500000
2021-01-12,3801.620117,3810.780029,3776.510010,3801.189941,3801.189941,4977210000

In [33]:
# all of the cells above are for testing etc
import pandas as pd

index = pd.read_csv('./data/spx_list.zip')
index.head()

  ticker                        industry
0    MMM        Industrial Conglomerates
1    ABT           Health Care Equipment
2   ABBV                 Pharmaceuticals
3   ABMD           Health Care Equipment
4    ACN  IT Consulting & Other Services

In [50]:
companies = ''.join(f'{c} ' for c in index.ticker)

In [54]:
companies

'MMM ABT ABBV ABMD ACN ATVI ADBE AMD AAP AES AFL A APD AKAM ALK ALB ARE ALXN ALGN ALLE LNT ALL GOOGL GOOG MO AMZN AMCR AEE AAL AEP AXP AIG AMT AWK AMP ABC AME AMGN APH ADI ANSS ANTM AON AOS APA AAPL AMAT APTV ADM ANET AJG AIZ T ATO ADSK ADP AZO AVB AVY BKR BLL BAC BK BAX BDX BRK.B BBY BIO BIIB BLK BA BKNG BWA BXP BSX BMY AVGO BR BF.B CHRW COG CDNS CPB COF CAH KMX CCL CARR CTLT CAT CBOE CBRE CDW CE CNC CNP CERN CF SCHW CHTR CVX CMG CB CHD CI CINF CTAS CSCO C CFG CTXS CLX CME CMS KO CTSH CL CMCSA CMA CAG CXO COP ED STZ COO CPRT GLW CTVA COST CCI CSX CMI CVS DHI DHR DRI DVA DE DAL XRAY DVN DXCM FANG DLR DFS DISCA DISCK DISH DG DLTR D DPZ DOV DOW DTE DUK DRE DD DXC EMN ETN EBAY ECL EIX EW EA EMR ENPH ETR EOG EFX EQIX EQR ESS EL ETSY EVRG ES RE EXC EXPE EXPD EXR XOM FFIV FB FAST FRT FDX FIS FITB FE FRC FISV FLT FLIR FLS FMC F FTNT FTV FBHS FOXA FOX BEN FCX GPS GRMN IT GD GE GIS GM GPC GILD GL GPN GS GWW HAL HBI HIG HAS HCA PEAK HSIC HSY HES HPE HLT HFC HOLX HD HON HRL HST HWM HPQ HUM HBAN HII IEX IDXX INFO ITW ILMN INCY IR INTC ICE IBM IP IPG IFF INTU ISRG IVZ IPGP IQV IRM JKHY J JBHT SJM JNJ JCI JPM JNPR KSU K KEY KEYS KMB KIM KMI KLAC KHC KR LB LHX LH LRCX LW LVS LEG LDOS LEN LLY LNC LIN LYV LKQ LMT L LOW LUMN LYB MTB MRO MPC MKTX MAR MMC MLM MAS MA MKC MXIM MCD MCK MDT MRK MET MTD MGM MCHP MU MSFT MAA MHK TAP MDLZ MNST MCO MS MOS MSI MSCI NDAQ NTAP NFLX NWL NEM NWSA NWS NEE NLSN NKE NI NSC NTRS NOC NLOK NCLH NOV NRG NUE NVDA NVR ORLY OXY ODFL OMC OKE ORCL OTIS PCAR PKG PH PAYX PAYC PYPL PNR PBCT PEP PKI PRGO PFE PM PSX PNW PXD PNC POOL PPG PPL PFG PG PGR PLD PRU PEG PSA PHM PVH QRVO PWR QCOM DGX RL RJF RTX O REG REGN RF RSG RMD RHI ROK ROL ROP ROST RCL SPGI CRM SBAC SLB STX SEE SRE NOW SHW SPG SWKS SLG SNA SO LUV SWK SBUX STT STE SYK SIVB SYF SNPS SYY TMUS TROW TTWO TPR TGT TEL FTI TDY TFX TER TSLA TXN TXT TMO TJX TSCO TT TDG TRV TFC TWTR TYL TSN UDR ULTA USB UAA UA UNP UAL UNH UPS URI UHS UNM VLO VAR VTR VRSN VRSK VZ VRTX VFC VIAC VTRS V VNT VNO VMC WRB WAB WMT WBA DIS WM WAT WEC WFC WELL WST WDC WU WRK WY WHR WMB WLTW WYNN XEL XRX XLNX XYL YUM ZBRA ZBH ZION ZTS '

In [57]:
spx_500 = yf.download(
    tickers=companies, 
    period='5y', 
    group_by='ticker',
    prepost=True,
    threads=12
    )

[*********************100%***********************]  505 of 505 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted

Upon checking,
* **BF.B** is Brown-Forman Corporation Class B
* **BRK.B** is Berkshire Hathaway Inc. Class B

In [58]:
print(spx_500.count())

VNT   Open           67
      High           67
      Low            67
      Close          67
      Adj Close      67
                   ...
EQIX  High         1259
      Low          1259
      Close        1259
      Adj Close    1259
      Volume       1259
Length: 3030, dtype: int64

In [66]:
type(spx_500)

pandas.core.frame.DataFrame

In [68]:
spx_500.to_csv('./data/stocks/spx_indexed.zip', compression='zip')

I will check on the project notebook what company has the least ticks to compare it to my news data and see where I can do a *breakeven* before deciding whether or not I should move on using the ^GSPC ticker. Nonetheless, ^GSPC data will be available in *./data/stocks/spx_indexed.zip*

In [ ]:
# 60d 5min

spx_500_ = yf.download(
    tickers=companies, 
    period='60d',
    interval='5m', 
    group_by='ticker',
    prepost=True,
    threads=12
)

timenow = datetime.datetime.now().strftime("%Y-%m-%d_%H%MH -0800")
spx_500.to_csv(f'./data/stocks/spx_60d_5min_{timenow}.zip', compression='zip')

In [4]:
gspc = yf.download(
    tickers='^GSPC', 
    period='max', 
    group_by='ticker',
    prepost=True,
    threads=12
    )

timenow = datetime.datetime.now().strftime("%Y-%m-%d_%H%MH -0800")
print(f'\n^GSPC size: {gspc.shape}')
gspc.to_csv(f'./data/gspc_max.zip', compression='zip')

[*********************100%***********************]  1 of 1 completed

^GSPC size: (23376, 6)

In [76]:
# in 5 min. intervals (last 60d)
spx = yf.Ticker("^GSPC")

gspc_ = yf.download(
    tickers='^GSPC', 
    period='60d', 
    interval='5m',
    group_by=spx,
    auto_adjust=True,
    prepost=True,
    threads=12
    )

print(f'\n^GSPC size: {gspc_.shape}')

[*********************100%***********************]  1 of 1 completed

^GSPC size: (4970, 5)

In [78]:
timenow = datetime.datetime.now().strftime("%Y-%m-%d_%H%MH -0800")
gspc_.to_csv(f'./data/stocks/gspc_60d_5min_{timenow}.zip', compression='zip')